@import url('https://fonts.googleapis.com/css?family=Raleway');

/*GLOBAL STYLES FOR FONTs*/

html,h1,h2,h3,h4,h5,h6,a{
  font-family: "Raleway";
  color: grey;
 }
 body{
   overflow-x: hidden;
 }

.container-fluid{
  margin-top:80px;
  margin-bottom:20px

}

/*NAVBAR STYLES*/
.navbar{
  background:grey;
  
 }
 .nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover{
  background: grey;
  color: #1d1208;
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
 .navbar-toggler{/*hamburger icon*/
   background:rgb(192, 191, 201) !important;
 }

 .navbar-collapse{
   justify-content: flex-end;
 }
 .bg-primary{
  background-color:#0eac97!important
  }

  /*HEADER STYLES*/
  /*header style*/
  
   .no-padding{
    padding-left:0;
    padding-right:0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
 .overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
 }

 .description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1{
 color: grey;
}
.description p{
color:#666;
font-size: 20px;
width: 50%;
line-height: 1.5;
}
.description button{
border:1px  solid 666;
background:#666;
color:#666;

}

h3{
  text-align: left;
}

.about{
  margin: 4em 0;
  padding: 1em;
  position: relative;
 }
 .about h1{
  color:#666;
  margin: 2em;
 }
 .about img{
  height: 100%;
     width: 100%;
     border-radius: 50%
 }
 .about span{
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
 }
 .about .desc{
  padding: 2em;
  border-left:4px solid #10828C;
 }
 .about .desc h3{
  color: #666;
 }
 .about .desc p{
  line-height:2;
  color:#888;
 }

 /*Portfolio*/
.portfolio{
  margin: 4em 0;
     position: relative; 
 }
 .portfolio h1{
  color:#666;
  margin: 2em; 
 }
 .portfolio img{
   height: 15rem;
   width: 100%;
   margin: 1em;
 }

 .blog{
  margin: 4em 0;
  position: relative; 
 }
 .blog h1{
  color:#666;
  margin: 2em; 
 }
 .blog .card{
  box-shadow: 0 0 20px #ccc;
 }
 .blog .card img{
  width: 100%;
  height: 12em;
 }
 .blog .card-title{
  color:#666;
   
 }
 .blog .card-body{
  padding: 1em;
 }

 .team{
  margin: 4em 0;
  position: relative;  
 }
 .team h1{
  color:#666;
  margin: 2em; 
 }
 .team .item{
  position: relative;
 }
 .team .des{
  background: #666;
  color: white;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition:.3s ease-in-out;
 }

 .team .item:hover .des{
  height: 100%;
  /*background:white;*/
  opacity: 0.3;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
  color: white;
 }

 .contact-form{
  margin: 6em 0;
  position: relative;  
 }
 .contact-form h1{
  padding:2em 1px;
  color: #666; 
 }
 .contact-form .right{
  max-width: 600px;
 }
 .contact-form .right .btn-secondary{
  background:  #666;
  color: white;
  border:0;
 }
 .contact-form .right .form-control::placeholder{
  color: grey;
  font-size: 16px;
 }
.footer{
  text-align: center;
}

 .google-maps {
  position: relative;
  padding-bottom: 50%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 800px !important;
}
#portfolio-img:hover{
  opacity: 0.7;
  transition: transform .2s; /* Animation */
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
